// ===============
// Telescopium Sidebar (Bottom)
// ===============

.widget-wrap
  margin-bottom: block-margin !important
  @media mq-normal
    column(main-column)

.widget-title
  color: #94A3B8
  text-transform: uppercase
  letter-spacing: 2px
  margin-bottom: .5em
  line-height: 1em
  font-weight: 600

.widget
  color: #94A3B8
  ul, ol
    li
      display: inline-block
      zoom:1
      *display:inline
      padding-right: .75em
